@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --font-serif: ui-serif, Georgia, serif;
  --font-sans: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

h1,h2,h3{
  font-family: var(--font-serif);
}

body{
  font-family: var(--font-sans);
}
